<%= form_for @product_detail, :enctype =>"multipart/form-data" do |f| %>
  <% if @product_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_detail.errors.count, "error") %> prohibited this product_detail from being saved:</h2>

      <ul>
      <% @product_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
     <div class="field">
    <%= f.label :product_name %><br />
    <%= f.text_field :product_name, autocomplete: "off" %>
  </div>
   <div class="field">
    <%= f.label :product_code %><br />
    <%= f.text_field :product_code, autocomplete: "off" %>
  </div>
     <div class="field">
    <%= f.label :grade %><br />
    <%= f.text_field :grade, autocomplete: "off" %>
  </div>
     <div class="field">
    <%= f.label :formula %><br />
    <%= f.text_field :formula, autocomplete: "off" %>
  </div>
     <div class="field">
    <%= f.label :molar_mass %><br />
    <%= f.text_field :molar_mass, autocomplete: "off" %>
  </div>
       <div class="field">
    <%= f.label :image %><br />
    <%if @product_detail.image_url.present?%>

     <%= image_tag @product_detail.image_url%>
     <%else%>
      <% @product_detail.product_images.each do |k|%>
       <%= image_tag k%>
      <%end if @product_detail.product_images%>
     <%end%>
    <%= f.file_field :product_images,  multiple: true %>
  </div>
  <%if @product_pricing%>
     <%= f.fields_for @product_pricing do |up| %>

     <div class="field">
      <%= up.label :pakaging %><br />
      <%= up.text_field :pakaging, autocomplete: "off" %>
    </div>
     <div class="field">
      <%= up.label :price %><br />
      <%= up.text_field :price %>
      
    </div>
    <%end%>
  <%end%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
