
 <div class="container">
<div class="row">
   <div class="col-lg-4">
   </div>
   <div class="col-lg-5">
        <h2>Change your password</h2>

   </div>
</div>   
   <div class="row">
   <div class="col-lg-4">
 

   </div>
   <div class="col-lg-4 loginForm">
     <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
      <div class="input-group username">
         <span class="input-group-addon">
         <i class="glyphicon glyphicon-lock"></i></span>
        
    <%= f.password_field :password, autofocus: true, autocomplete: "off", :id => "login-username", class: "form-control input-lg", placeholder: "Password" %>
         
      </div>
        <% if @minimum_password_length %>
      <em style="color: red;">(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
      <div style="" class="input-group">
         <span class="input-group-addon">
         <i class="glyphicon glyphicon-lock"></i></span>
         <%= f.password_field :password_confirmation, autocomplete: "off",:id => "login-password", class: "form-control input-lg", placeholder: "Password Confirmation" %>
         
      </div>
    
      <%= f.submit "Change my password", class: "btn btn-primary col-lg-12 btn-lg loginBtn" %>
      <%end%>
   </div>
   </div>
</div>   

