<%= form_for @advertisement, :enctype =>"multipart/form-data" do |f| %>
  <% if @advertisement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advertisement.errors.count, "error") %> prohibited this advertisement from being saved:</h2>

      <ul>
      <% @advertisement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :web_url %><br>
    <%= f.text_field :web_url %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :images %><br>
    <%= f.file_field :images,  multiple: true  %>
  </div>
  <% @advertisement.images.each do |k|%>
  <%= image_tag k.thumb.url %>
  <%end%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
