<p id="notice"><%= notice %></p>

<h1>Listing Advertisements</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Web url</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Images</th>
      <th>Status</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @advertisements.each do |advertisement| %>
      <tr>
        <td><%= advertisement.title %></td>
        <td><%= advertisement.description %></td>
        <td><%= advertisement.web_url %></td>
        <td><%= get_date_format(advertisement.start_date) %></td>
        <td><%= get_date_format(advertisement.end_date) %></td>
        <td> <% advertisement.images.each do |k|%>
              <%= image_tag k.thumb.url %>
            <%end%></td>
        <td><%= advertisement.status == ACTIVE ? "Approved" : "Pending"%></td>    
        <td><%= link_to 'Show', advertisement %></td>
        <td><%= link_to 'Edit', edit_advertisement_path(advertisement) %></td>
        <td><%= link_to 'Destroy', advertisement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       <% status = advertisement.status == ACTIVE ? "Pending" : "Approved"%>
        <% if @role == ADMIN%>
        <td><%= link_to status, change_status_path(advertisement,status: advertisement.status), data: { confirm: 'Are you sure you want to change status ?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Advertisement', new_advertisement_path %>
