

<div class="container" style="overflow:hidden;">
<div class="row">
    <div class="col-md-3">
 <%if @role != ADMIN%>
       <%= link_to "New Advertisement", "#", class: "btn btn-primary", "data-toggle": "modal", "data-target" => "#myModal", style: "margin: 11%; margin-right: 44%;"%>
       <%else%>
       <label>Not allowed to create new Advertisement</label>
       <%end%>
</div>
</div>
  
  <div class="row">

<!--   <div class="card col-lg-4" id="cardId">
    <div class="cardHeader">
      <center>
        <strong></strong>
      </center>
    </div>
    <div class="cardBody">
      <center>
        <strong>
  
       <   %if @role != ADMIN%>
       < %= link_to "New Advertisement", "#", class: "btn btn-info btn-lg", "data-toggle": "modal", "data-target" => "#myModal", style: "margin: 11%; margin-right: 24%;"%>
       < %else%>
       <label>Not allowed to create new Advertisement</label>
       < %end%>
        </strong>
      </center>
    </div>
    <div class="cardFooter">
      
    </div>
  </div> -->

 


<% @advertisements.each do |k| %>
  <div class="card col-lg-4">
    <div class="cardHeader">
      <center>
        <strong><%= k.title%></strong>
        <%if @role != ADMIN%>
           <%= link_to k,method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger editButton" do %>
              <i class="fa fa-trash" aria-hidden="true" style="margin-left: 0px;"></i>
         <% end %>  
        <%= link_to "#",id: k.id ,class: "btn btn-primary editButton edit_adv" do %>
               <i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-left: 0px;"></i>
         <% end %> 
       <%end%>
      </center>
        
    </div>
    <div class="cardBody">
    <div class="row">
         <div class="col-md-12">
         <div class="col-md-4">
              <% if k.images.present?%>
      <% k.images.each do |k|%>
              <%= image_tag k.thumb.url, size: "100x100" %>
            <%end%>
    <%else%>
    <label>Sorry No image Available</label>
    <%end%>        
   
      </div>
      <div class="col-md-8">
      <label>Start Date : &nbsp;&nbsp;</label><%= get_date_format(k.start_date)%> <br />
       <label>End Date : &nbsp;&nbsp;</label><%= get_date_format(k.end_date)%>   
         </div>
         </div>
    </div>
   
    </div>
    <div class="cardFooter">
      <p><strong>
       <%= k.description%><br />
       <a href="https://<%= k.web_url%>" target="_blank"><%= k.web_url%></a>
      
      
        </strong>
      </p>
    </div>
  </div>
<%end%>


  </div>

  <br>

    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <%= render partial: "new_advertisement"%>
      
    </div>
  </div>
</div>

<div class="container">
     <div class="digg_pagination">
    <center>
    <%= will_paginate @advertisements,:container => false %> </center>
  </div>
</div>

  </div>
  <div class="col-lg-4 col-sm-3 col-xs-2"></div>
</div>

<style type="text/css">
.btn{
      float: right;
    margin-right: 2%;
}


</style>
<script type="text/javascript">
$('.edit_adv').click(function(){


      $.ajax({
      async : true,
      type : 'GET',
      url : "/advertisements/get_advertisement",
      data : { "id": $(this).attr('id')}, 
        success : function(data) {
          $('#myModal').html(data)
          $('#myModal').modal('show')
        }, error : function(data) {
          alert("fail");
        }
    });
});
</script>