
 <div class="container">


<div class ="row">

<div class="col-md-3">
<form class="navbar-form navbar-left" role="search"> 
<% if @role == ADMIN%>
<%= link_to 'New City', new_city_path,class: "btn btn-primary" %>
<%end%>
</form>
</div>
  <div class="col-md-8">
      
        <div class="form-group ">  
         
        </div>  
   
    </div>
    <div class="col-md-1 ">
    <form class="navbar-form navbar-left" role="search"> 
    </form>
    </div>
<div class="clearfix"></div>
</div>

<table class="table table-striped table-hover" id= "example">
  <thead  style="background: linear-gradient(#777, #222,#999);">
    <tr >
     <th >City Id</th>
     <th>City Name</th>
     <% if @role == ADMIN%>
     <th >Edit</th>
     <th >Delete</th>
     <%end%>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
     <tr  > 
      <td ><%= city.id%></td>
      <td ><%= link_to city.city, city_path(city)%></td>

<% if @role == ADMIN%>
      <td class="edtbtn">
         <%= link_to edit_city_path(city), class: "btn btn-success editButton" do %>
               <strong style="font-size: 70%">Edit City<i class="fa fa-edit" aria-hidden="true" style="  margin-left: 7px;"></i></strong>
         <% end %>


      </td>  
        <td>
         <%= link_to city,method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger editButton" do %>
               <strong style="font-size: 70%">Delete Product<i class="fa fa-trash" aria-hidden="true" style="  margin-left: 7px;"></i></strong>
         <% end %>  
      <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>

<style type="text/css">
/*tr { border: solid thin; }*/
/*td { border: 2px solid thin; }*/

</style>
<script type="text/javascript">
$(document).ready(function(){
 $('#example').DataTable({
  paginate:true,
   "columnDefs": [
        {"className": "dt-center", "targets": "_all"}
      ],
      'language': {
        'search': '_INPUT_',
        'searchPlaceholder': 'Search your Product here..'
    }
});

})

</script>