      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Mass Upload Products</h4>
        </div>
        <div class="modal-body">
         <div class="container">

        <%= form_tag new_upload_product_path , :enctype =>"multipart/form-data" do |f| %>
        <div class="row">
          <div class="col-lg-2 col-xs-4 col-sm-4 labelDiv">
                <div class="label_new">
                  <span class="labelText"><strong>Upload CSV File</strong></span>
                </div>

          </div>
          <div class="col-lg-6 col-xs-8 col-sm-8 inputSizing">
          
              <%= file_field_tag :file, id: "upload", class: "btn btn-default" %>   
          </div>
          <div class="col-lg-4 col-xs-0 col-sm-0">
          <%= link_to '<span class="glyphicon glyphicon-download-alt"> SampleCSV</span>'.html_safe, sample_xls_path(format: "csv"), class: "btn btn-success" %>
          </div>
        </div><br />

  <div class="row">
    
    <div class="col-lg-8 col-xs-12 col-sm-12 col-md-12 labelDiv">
      <center>
<!--       <button class="btn btn-primary"><strong>Save</strong></button> -->
      <%= submit_tag "Import", class: "btn btn-primary" %> 
    <!--   <button class="btn btn-default " style="margin-left:5px;"><strong>Cancel</strong></button> -->

<%= link_to 'Cancel', advertisements_path,class: "btn btn-default", style: "margin-left:5px;" %>
      </center>
    </div>
    <div class="col-lg-4 col-xs-0 col-sm-0 col-md-0"></div>
  </div><br />
<%end%>
 </div>
 </div>
<style type="text/css">
.modal-content{
  
      width: 156%;
    margin-left: -26%;
}
</style>