
<table class="table table-striped table-hover" id= "example">
  <thead  style="background: linear-gradient(#777, #222,#999);">
    <tr >
     <th >Product Code</th>
     <th>Description</th>
     <th >Package</th>
     <th >Price</th>
     <!-- <th >Show</th> -->
     <% if @role != ADMIN%>
     <th >Edit</th>
     <th >Delete</th>
     <%end%>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
     <tr  > 
      <td ><%= product.product_code%></td>
      <td ><%= link_to product.product_name, product_path(product)%></td>
      <td><%= product.pakaging%></td>
      <td><%= product.price%></td>
<!--       <td class="edtbtn">
         < %= link_to product_path(product), class: "btn btn-success editButton" do %>
               <strong style="font-size: 70%">Show Product<i class="fa fa-eye" aria-hidden="true" style="  margin-left: 7px;"></i></strong>
         < % end %>


      </td>   -->
     <% if @role != ADMIN%>
        <td>
         <%= link_to edit_product_path(product), class: "btn btn-primary editButton" do %>
               <strong style="font-size: 70%">Edit Product<i class="fa fa-pencil-square-o" aria-hidden="true" style="  margin-left: 7px;"></i></strong>
         <% end %>  

    
        <td>
         <%= link_to product,method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger editButton" do %>
               <strong style="font-size: 70%">Delete Product<i class="fa fa-trash" aria-hidden="true" style="  margin-left: 7px;"></i></strong>
         <% end %>  
      <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="container">
 
    <div class="digg_pagination" align="center">
  
    <%= js_will_paginate @products,:container => false %> 
  </div>



</div>
<script type="text/javascript">
$(document).ready(function(){
 $('#example').DataTable({
  paginate:false,
   "columnDefs": [
        {"className": "dt-center", "targets": "_all"}
      ],
    "bFilter": false, 
    "bInfo": false 
});


});
</script>