

<h1>Listing Products</h1>
<%= link_to 'New Product', new_product_path %>

<table>
  <thead>
    <tr>
     <th >Id</th>
     <th >Product Name</th>
     <th >Product Code</th>
     <th >Grade</th>
     <th >Formula</th>
     <th >Molar Mass</th>
     <th >Image</th>
     <th >Package</th>
     <th colspan="3">Manage Price& Pakage</th>
     <th colspan="3"></th>
     <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
     <tr>
      <td><%= product.id%></td>
      <td><%= product.product_name%></td>
      <td><%= product.product_code%></td>
      <td><%= product.grade%></td>
      <td><%= product.formula%></td>
      <td><%= product.molar_mass%></td>
      <%if product.image_url%>
      <td><%= image_tag product.image_url%></td>
      <%else%>
      <td><%if product.chemical_images.present?%><% product.chemical_images.each do |k| %>
          <%= image_tag k.thumb.url%>
          <%end %><%else%>-<%end%>
      </td>
      <%end%>
      <td><%= product.pakaging%></td>
      <td><%= product.price%></td>
      
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

