


 <div class="container">

<h1> Products <%= link_to 'New Product', new_product_path,class: "btn btn-primary" %></h1>
<table>
  <thead>
    <tr>
     <th >Id</th>
     <th >Product Name</th>
     <th >Product Code</th>
     <th >Grade</th>
     <th >Formula</th>
     <th >Molar Mass</th>
     <th >Image</th>
     <th >Package</th>
     <th >Price</th>
     <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
     <tr >
      <td><%= product.id%></td>
      <td style="word-break: break-all;"><%= product.product_name%></td>
      <td ><%= product.product_code%></td>
      <td><%= product.grade%></td>
      <td><%= product.formula%></td>
      <td><%= product.molar_mass%></td>
      <%if product.image_url%>
      <td><%= image_tag product.image_url%></td>
      <%else%>
      <td><%if product.chemical_images.present?%><% product.chemical_images.each do |k| %>
          <%= image_tag k.thumb.url%>
          <%end %><%else%>-<%end%>
      </td>
      <%end%>
      <td><%= product.pakaging%></td>
      <td><%= product.price%></td>
      
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>

<style type="text/css">
/*tr { border: solid thin; }*/
/*td { border: 2px solid thin; }*/
</style>