

 <div class="container">


<div class ="row">

<div class="col-md-3">
 <form class="navbar-form navbar-left" role="search"> 
 <% if @role != ADMIN%>
  <%= link_to 'New Product', new_product_path,class: "btn btn-primary" %>
<%end%>
</form>
</div>

  <div class="col-md-2">
       <form class="navbar-form navbar-left" role="search"> 
        <div class="form-group ">  
          <%= text_field_tag "search",nil,class: "form-control search", id: "search",placeholder: "Search by product Name/Code"%>
        </div>  
        </form>
   
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-3">
      <form class="navbar-form navbar-left" role="search"> 
      <%= link_to "Show All",all_product_path(comapny_id: params[:comapny_id]),class: "btn btn-default pull-right showAllBtn", style: ""%>
      </form>
    </div>

</div>
<div class="clearfix"></div>
<div id="product_table">
  
  <%= render partial: "product_table"%>
</div>

</div>

<style type="text/css">
/*tr { border: solid thin; }*/
/*td { border: 2px solid thin; }*/

</style>
<script type="text/javascript">
$(document).ready(function(){
  $('#search').keyup(function(){
   search = $('#search').val()
   if(search.length >= 3  || search.length == 0 ){
          $.ajax({
      async : true,
      type : 'GET',
      url : "/products/search",
      data : { "search": search,
               "comapny_id": '<%= params[:comapny_id] %>' }
       
    });

   }
});
})

</script>