<% if params[:controller] == "devise/passwords"
   @flag = false
   elsif params[:controller] != "devise/sessions"
   @flag =true
   else
    @flag = false
   end 
     %>
     
<footer class="footer" style="<%= @flag ? '' : 'bottom: 0'%>" >
<% if  user_signed_in?%>
<div class="pageFooter">
<div class="container">
  <div class="row">

    <div class="col-lg-2">
      <div class="row labsCat">
        <strong class="labs">Labs</strong><span class="cat">Cat</span>
      </div>
      <div class="row">

      <img src="/assets/Logo2-01.png" width="100" height="100" class="img-circle">
      
      </div>
    </div>
    <br />

    <div class="col-lg-10">
    
    <p> We invite all chemical suppliers to participate. Company products will be included in the LABSCAT Catlog and in the website specialty checmical catalog. Company profiles are listed in the directory of over 500 chemical suppliers.</p>
    <p>Companies providing equipment and services to chemical industry &amp; resarch are listed in our equipment.</p>   
    </div>
    
  </div>
</div>
</div>
  <%end%>
<div class="privacy">
  <div class="container" style= "background-color: #efefef; text-align: center;">
    
    <div class="row" >
      <br />
          <div class="col-lg-4">
            <font size="3"><%= link_to "About Us", about_us_path%> | <%= link_to "Contact Us", contact_us_path%> | <a href="">Privacy</a> | <%= link_to "Terms&Conditions", term_condition_path%></font>
          </div>
          <div class="col-lg-5">
          
           <%= link_to "https://play.google.com/store/apps/details?id=com.labscat.buyer" , target: "_blank" do %>
          <%= image_tag('/assets/google.png',  width: "20%") %>
        <% end %>
      </div>
          <div class="col-lg-3">
            <font size="3"><p> <a href="#">LabsCat 2016</a> </font>
          </div>  
        </div>

     
  </div>
</div>


</footer>